
= provide(:title, 'Home')

/ .jumbotron2
/   %div 
/   .col-md-12 
/     = image_tag ('banner.png')
/     %a{name: "flywithus"}

.divider
  %div
  %a{name: "featured"}
  %h2 Featured Jets

.container
  .row
    #arrow
      = image_tag ('down-arrow.png'), :size => '48x48'

.jumbotron3
  %div 
  .col-md-12 
  / %span
  /   = image_tag ('Hawker-400XP-Exterior.jpg'), :size => '800x533'
  /   = image_tag ('Hawker-400XP-Interior.jpg'), :size => '800x533'

  / %section.demo_wrapper
  /   %article.demo_block
  /   %ul#slippry-demo
  /     %li
  /       %a{href: "#slide1"}
  /         = image_tag ('slide1.jpg')
  /     %li
  /       %a{href: "#slide2"}
  /         = image_tag ('slide2.jpg')
  /     %li
  /       %a{href: "#slide3"}
  /         = image_tag ('slide3.jpg')


.divider
  %div
    %a{name: "private"}
    %h2 Private Jets

.container
  .row
    #arrow
      = image_tag ('down-arrow.png'), :size => '48x48'

.jumbotron5
  %div
  .col-md-12 
  
.divider
  %div
  %a{name: "airtaxi"}
  %h2 Air Taxi

.container
  .row
    #arrow
      = image_tag ('down-arrow.png'), :size => '48x48'

.jumbotron6
  %div 
  .col-md-12

.divider
  %div
  %a{name: "aboutus"}
  %h2 About Us

.container
  .row
    #arrow
      = image_tag ('down-arrow.png'), :size => '48x48'

.jumbotron7
  %br
  .container
    .row
      .flex
        %h1 Customized Jet Charter Experience
        %br
        %hr
        %br
    .row
      .pflex
        %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing on a wide selection of quality, late-model aircraft. From your first conversation with our firm, we take great pains to understand your specific needs and preferences in order to consistently deliver flawless experience after flawless experience.

        %p Two established aviation entrepreneurs, Justin Sullivan and David M. Tait, are the driving force behind Private FLITE.

        %p Justin is a seasoned private air charter executive, entrepreneur, and airplane junkie, with a long track record of delivering innovative products and services, happy clients, and strong investor returns. As founder and CEO of Boston-based Insignia Jet Group, Justin recognized an unfilled market niche and so created Private FLITE to cater to this highly complementary business segment.

        %p Prior to Private FLITE Justin was founder and President of Regent Jet (now part of Private Jet Group) and Vice President of Sales at OneSky (now part of Sentient Jet). A recognized private aviation thought-leader, Justin possesses a rare combination of professionalism, depth of industry experience, and a healthy obsession with providing only the very best in customer service. Justin earned his business degree from Bentley University. He lives south of Boston with his wife Marianne and their four children.

        %p David has spent most of his storied aviation career on the commercial side of the field where he worked closely with two of the industry’s greatest innovators, Sir Freddie Laker and Sir Richard Branson. David wrote the Virgin Atlantic business plan with Branson (who was not yet a Sir back then) and in 1984 became the first employee at the fledgling airline. He spent the next 20 years in New York as EVP and Executive Director growing the airline and the brand with innovative products, great customer service and smart edgy marketing. In May of 2001 David was awarded an OBE (Officer of the Order of the British Empire) by Her Majesty the Queen at Buckingham Palace for “his contribution to British aviation in the USA.”

        %p David next spent time as CEO of Avocet Aircraft, a Very Light Jet designed by Israel Aircraft Industries to facilitate air taxi operations. Sadly the jet was never built, but David was hooked on the concept of affordable private aviation services, which is what brings him to Private FLITE

        %p Maria White, FLITE’S Director of Operations, has over 20 years’ experience in setting up and managing highly complex, ever-changing travel arrangements worldwide. Prior to joining Justin Sullivan in 2008, Maria worked as a logistics specialist at Private Jet Group of Seabrook NH. Many FLITE regulars like to describe Maria as being our “secret weapon.”

        %p Marcus Zimmerman, FLITE’s Business Manager is someone with whom you don’t want to fall out – he’s a retired extreme fighter!Marcus now manages a battery of key financial and operational duties that keep the company running efficiently and smoothly. He oversees the financial and fiscal management of company operations, and provides leadership and coordination in the administration, business planning, accounting and budgeting efforts. Zimmerman is also tasked with adherence to key insurance and legal requirements in the complex 3rd party logistics marketplace.

.divider
  %div
  %a{name: "team"}
  %h2 Meet the Team
.container
  .row
    #arrow
      = image_tag ('down-arrow.png'), :size => '48x48'

.jumbotron13
.pflex3
  .container
    .row
      #flex-team
        #photo-container 
          = image_tag ('pf-justin.jpg'), :size => '300x300'
          %br
          %br
          %br
          %br
          %br
          %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing
          %br
        #photo-container 
          = image_tag ('pf-David R.jpg'), :size => '300x300'
          %br
          %br
          %br
          %br
          %br
          %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing
          %br
        
        #photo-container 
          = image_tag ('pf-Fritz L.jpg'), :size => '300x300'
          %br
          %br
          %br
          %br
          %br
          %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing
          %br

        #photo-container 
          = image_tag ('pf-Director.jpg'), :size => '300x300'
          %br
          %br
          %br
          %br
          %br
          %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing
          %br

    %hr
    .row
      #flex-team
        #photo-container 
          = image_tag ('pf-Colin R.jpg'), :size => '300x300'
          %br
          %br
          %br
          %br
          %br
          %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing
          %br
      
        #photo-container 
          = image_tag ('pf-avatar.jpg'), :size => '300x300'
          %br
          %br
          %br
          %br
          %br
          %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing
          %br
          
        #photo-container 
          = image_tag ('pf-avatar.jpg'), :size => '300x300'
          %br
          %br
          %br
          %br
          %br
          %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing
          %br
        
        #photo-container 
          = image_tag ('pf-avatar.jpg'), :size => '300x300' 
          %br
          %br
          %br
          %br
          %br
          %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing
          %br
        
      %hr
    .row
      #flex-team
        / %span
        #photo-container 
          = image_tag ('pf-avatar.jpg'), :size => '300x300'
          %br
          %br
          %br
          %br
          %br
          %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing
          %br
        
        #photo-container 
          = image_tag ('pf-avatar.jpg'), :size => '300x300'
          %br
          %br
          %br
          %br
          %br
          %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing
          %br
        
        #photo-container 
          = image_tag ('pf-avatar.jpg'), :size => '300x300'
          %br
          %br
          %br
          %br
          %br
          %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing
          %br

        #photo-container 
          = image_tag ('pf-avatar.jpg'), :size => '300x300'
          %br
          %br
          %br
          %br
          %br
          %p Private FLITE offers a level of personalized service that is unrivaled, and competitive pricing
          %br
         
.divider
  %div
  %a{name: "safety"}
  %h2 Safety

.container
  .row
    #arrow
      = image_tag ('down-arrow.png'), :size => '48x48'

.jumbotron9
  %div 
  .col-md-12 
  
  / %p Unlike other firms that force a predetermined level of safety standard on their clients (or worse yet, have no standards at all), Private FLITE clients fly only with specifically-rated operators and equipment.
  / %p For example, for many clients, flying with ARG/US Gold and Platinum-rated operators is perfectly adequate. However, some clients demand an ARG/US Platinum rating, Wyvern Wingman status, or other safety standards based on their level of comfort and sophistication.
  / %p At Private FLITE we maintain detailed account profiles for each client, documenting client-specific safety standards in order to present only these prerequisite flight options.
  %h3 
    Real Time Auditing
    %hr


  / %table
  / %tr
  / %td
  / %span 
  /   = image_tag ('check.png'), :size => '60x60' 
  /   \&nbsp
  /   %font{size: "4"}FLITE clients may, at any time, ask to see a TripCHEQ report prior to travel.

  / %tr
  / %span 
  /   = image_tag ('check.png'), :size => '60x60' 
  /   \&nbsp
  /   %font{size: "4"}TripCHEQ is an ARG/US offering that audits the specific parameters of every trip. 
  
  /   = image_tag ('check.png'), :size => '60x60' 
  /   \&nbsp
  /   %font{size: "4"}In order to pass a TripCHEQ, all pilots receive background checks by ARG/US before they are approved.
  / %tr
  / %span 
  /   = image_tag ('check.png'), :size => '60x60' 
  /   \&nbsp
  /   %font{size: "4"}Flight time (total time, time in type, pilot in command) must meet ARG/US and Private FLITE minimums.
 
  /   = image_tag ('check.png'), :size => '60x60' 
  /   \&nbsp
  /   %font{size: "4"}Pilots are checked prior to every flight for experience and FAA enforcement actions.
  / %tr
  / %span 
  /   = image_tag ('check.png'), :size => '60x60' 
  /   \&nbsp
  /   %font{size: "4"}Aircraft records are checked prior to every flight to ensure that FAA data shows this aircraft on the certificate of the selected air carrier.

  #flexer
    .container
      .row
        .flex1
          %span
            .flex-info
              = image_tag ('check.png'), :size => '40x40'
            \&nbsp&nbsp
            %font{size: "4"}FLITE clients may, at any time, ask us to see a TripCHEQ report prior to any short or long trip.
          %hr
          %br
        .flex2
          %span
            .flex-info
              = image_tag ('check.png'), :size => '40x40' 
            \&nbsp&nbsp
            %font{size: "4"}TripCHEQ is an ARG/US offering that audits the specific parameters of every trip.
          %hr
          %br
        .flex3
          %span
            .flex-info
              = image_tag ('check.png'), :size => '40x40' 
            \&nbsp&nbsp 
            %font{size: "4"}In order to pass a TripCHEQ, all pilots receive background checks by ARG/US before they are approved.
          %hr
          %br
    / #flexer
    .container
      .row
      .flex4
        %span
          .flex-info
            = image_tag ('check.png'), :size => '40x40' 
          \&nbsp&nbsp
          %font{size: "4"}Flight time (total time, time in type, pilot in command) must meet ARG/US and Private FLITE minimums.
        %hr
        %br
      .flex5
        %span
          .flex-info
            = image_tag ('check.png'), :size => '40x40' 
          \&nbsp&nbsp
          %font{size: "4"}Pilots are checked prior to every flight for experience and FAA enforcement actions.
        %hr
        %br
      .flex6
        %span
          .flex-info
            = image_tag ('check.png'), :size => '40x40' 
          \&nbsp&nbsp
          %font{size: "4"}Aircraft records are checked prior to every flight to ensure that FAA data shows this aircraft on the certificate of the selected air carrier.
        %hr
        %br


.divider
  %div
  %a{name: "quote"}
  %h2 Get a Quote

.container
  .row
    #arrow
      = image_tag ('down-arrow.png'), :size => '48x48'
 
.jumbotron8
  %div 
  .col-md-12 

.divider
  %div
  %a{name: "success"}
  %h2 Sucess Stories

.container
  .row
    #arrow
      = image_tag ('down-arrow.png'), :size => '48x48'

.jumbotron4
  %div 
  .col-md-12 

.divider
  %div
  %a{name: "contactus"}
  %h2 Contact Us

.container
  .row
    #arrow
      = image_tag ('down-arrow.png'), :size => '48x48'
 
.jumbotron12
  / %div 
  / .col-md-12 
  / %h1 Contact Private Flite
.container
  .row
  .flexer2
    %div
      #icon1
      %br
      #caption1
        %h4
          PHONE
        %p 
        877.322.5387
    %div
      #icon-phone
        / 
        = image_tag ('icon-phone.png'), :size => '48x48'
    %div
      #icon2
      %br
      #caption2
        %h4
          FAX
        %p
        781.987.7217
    %div
      #icon-fax
        / %i.fa.fa-file-text.fa-3x
        = image_tag ('icon-fax.png'), :size => '48x48'
    %div
      #icon3
      %br
      #caption3
        %h4
          EMAIL
        %p
        %a{href: "mailto:info@private-flite.com"}Get in touch
    %div
      #icon-envelope
        / %i.fa.fa-envelope.fa-2x
        = image_tag ('icon-email.png'), :size => '48x48'
    %div
      #icon4
      %br
      #caption4
        %h4
          HOURS
        %p
        24
        \&nbsp  
        |
        \&nbsp  
        7
        \&nbsp  
        |
        \&nbsp  
        365
    %div
      #icon-clock
        /%i.fa.fa-clock-o.fa-3x
        = image_tag ('icon-clock.png'), :size => '48x48'
  %br
  .row
  #contact-form
    
  / .flexer2
  /   %div
  /     #caption1
  /     %h6
  /       PHPONE
  /   %div
  /     #caption2
  /     %h6
  /       FAX
  /   %div
  /     #caption4
  /     %h6
  /       EMAIL
  /   %div
  /     #caption4
  /     %h6
  /       HOURS
   
  / #left-side-background
  / .flexx
  /   %hr
  /   %br
  /   %p 
  /   Private Flite Worldwide, LLC
  /   %br
  /   25 Accord Park Drive
  /   %br
  /   Suite 100 
  /   %br
  /   Rockland, MA 02370
  /   %br
  /   %br

  /   %p 
  /   Phone: 
  /   \&nbsp 877.322.5387 
  /   %br  
  /   Fax:  
  /   \&nbsp781.987.7217  
  /   %br 
  /   Email: 
  /   \&nbspinfo@private-flite.com
  /   %br
  /   Hours of Operation: 
  /   \&nbsp24  |  7  | 365



/*  = link_to image_tag ('arrow.png')

